@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a:active,
button:active {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html,
body {
  min-height: 100%;
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  background-color: #fff;
  color: #092930;
}

.lock {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 22;
  background-color: rgba(9, 41, 48, 0.8);
}

.lock::before {
  content: "";
  position: absolute;
  z-index: 22;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 41, 48, 0.8);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.burger {
  display: none;
  background-color: transparent;
  border: none;
}

.hover {
  outline: transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.title {
  font-size: 24px;
  display: inline-block;
  padding: 0 5px 5px;
  margin-bottom: 40px;
  border-bottom: 1px solid #fd4e16;
}

.btn {
  position: relative;
  top: 0;
  font-family: Roboto;
  border: 0 solid transparent;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.6px;
  outline: none;
  color: #fff;
  color: #092930;
  background-color: #fd4e16;
  -webkit-box-shadow: 4px 4px 10px #000;
          box-shadow: 4px 4px 10px #000;
  -webkit-transition: background-color 0.4s ease-in, color 0.4s ease-in;
  -o-transition: background-color 0.4s ease-in, color 0.4s ease-in;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.btn:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  background-color: #fd4e16;
}

.btn--white {
  border-color: #fff;
}

.btn--black {
  color: #092930;
  border-color: #092930;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #092930;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
}

.header__logo {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

.logo {
  position: relative;
  z-index: 5;
  min-height: 100%;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.logo::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo__name {
  position: relative;
  z-index: 1;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  border-bottom: 1px solid transparent;
}

.logo__name--first {
  display: block;
  color: #fd4e16;
}

.logo__name--second {
  display: block;
}

.menu {
  margin: 0 20px 0 0;
}

.menu__body {
  font-family: Montserrat, sans-serif;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu__body.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu__item:not(:last-child) {
  margin: 0 80px 0 0;
}

.menu__link,
.menu__phone {
  font-weight: 300;
  padding: 0 0 3px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.menu__phone {
  position: relative;
  z-index: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  letter-spacing: 3px;
}

.phone-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-menu__icon {
  width: 27px;
  height: 27px;
  fill: currentColor;
}

.phone-menu__number {
  margin-left: 10px;
}

.hero {
  max-width: 100%;
  padding: 100px 0 50px;
  background-color: #092930;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title,
.hero .hero__item--subtitle {
  color: #fff;
  margin: 0 0 50px 0;
}

.hero__item {
  display: block;
}

.hero__item--name,
.hero__item--secondName {
  font-weight: 500;
  font-size: 64px;
}

.hero__item--subtitle {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 1.3px;
}

.hero__button {
  width: 150px;
  height: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  border-radius: 100%;
}

.hero__person {
  position: relative;
  max-width: 560px;
  width: 100%;
  background-color: #092930;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}

.hero__person:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(9, 41, 48, 0.2);
}

.hero__img {
  border-radius: 100%;
  width: 100%;
}

.about {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0 50px;
}

.about::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 41, 48, 0.8);
}

.about__content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.about__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.about__description {
  max-width: 780px;
  padding: 10px 30px;
  border: 1px solid #fd4e16;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 16px;
}

.about__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-about {
  max-width: 300px;
  padding: 10px 7px;
  text-align: center;
}

.item-about__title {
  font-size: 22px;
}

.item-about__picture {
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.item-about__picture:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-about__icon {
  width: 100%;
  height: 100%;
  fill: #092930;
}

.item-about__description {
  text-align: left;
}

.portfolio {
  min-height: 100%;
  padding: 60px 0 50px;
  background-color: #092930;
}

.portfolio__wrapper {
  width: 100%;
  color: #fff;
}

.slider-portfolio {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.slider-portfolio__arrow {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 50px;
  width: 40px;
  height: 40px;
  outline: none;
  background-color: #fd4e16;
  border: 1px solid transparent;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider-portfolio__arrow--next {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
}

.slider-portfolio .swiper-button-disabled {
  background-color: #7e412d;
  cursor: default;
}

.slider-portfolio .swiper-button-disabled:hover .slider-portfolio__icon {
  fill: #092930;
}

.slider-portfolio__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 27px;
  height: 5px;
  fill: #092930;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider-portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.slider-portfolio__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-portfolio__link {
  display: block;
  max-width: 760px;
  outline: none;
  border: 2px solid transparent;
  border: 2px solid #fff;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slider-portfolio__img {
  min-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-25px, -25px);
      -ms-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slider-portfolio__description {
  max-width: 300px;
  padding: 10px 20px;
  border: 2px solid #fd4e16;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 16px;
}

.slider-portfolio__pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  left: 50%;
  max-width: 100px;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #092930;
}

.slider-portfolio .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #7e412d;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slider-portfolio .swiper-pagination-bullet-active {
  background-color: #fd4e16;
}

.contacts {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  padding: 60px 0 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 41, 48, 0.8);
}

.contacts__top {
  width: 100%;
}

.contacts__title {
  color: #fff;
}

.contacts__content {
  max-width: 522px;
}

.contacts__title,
.contacts__content,
.contacts__message {
  position: relative;
  z-index: 2;
}

.contacts__message {
  max-width: 100%;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts::after {
  content: "";
  position: absolute;
  z-index: 222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 41, 48, 0.8) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contacts._sending::after {
  opacity: 1;
  visibility: visible;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 12px 30px 11px;
  margin: 0 0 20px 0;
  caret-color: rgba(9, 41, 48, 0.4);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__input::-webkit-input-placeholder {
  color: rgba(9, 41, 48, 0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__input::-moz-placeholder {
  color: rgba(9, 41, 48, 0.2);
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__input:-ms-input-placeholder {
  color: rgba(9, 41, 48, 0.2);
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__input::-ms-input-placeholder {
  color: rgba(9, 41, 48, 0.2);
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__input::placeholder {
  color: rgba(9, 41, 48, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__input--text {
  min-height: 180px;
  margin: 0 0 30px 0;
  resize: none;
}

.form__button {
  width: 100%;
  max-width: 305px;
  padding: 9px 20px;
  border-radius: 10px;
}

.footer {
  padding: 60px 0 20px;
  background-color: #092930;
}

.footer__wrapper {
  color: #fff;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.footer__copy {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.footer__media-list {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media__link {
  outline: none;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.social-media__icon {
  width: 27px;
  height: 27px;
  fill: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.social-media__icon--github {
  width: 30px;
  height: 30px;
}

.contacts-footer {
  max-width: 300px;
  width: 100%;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.contacts-footer__name {
  display: block;
  font-weight: 500;
}

.contacts-footer__value {
  text-align: right;
  font-style: normal;
  display: block;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../images/sprite/close.svg") 0 0 no-repeat;
}

@media only screen and (min-width: 991.98px) {
  .hover:focus {
    border-bottom: 1px solid #fd4e16;
  }

  .hover:hover {
    border-bottom: 1px solid transparent;
    color: #fd4e16;
  }

  .hover:active {
    border-bottom: 1px solid #fd4e16;
    color: #fd4e16;
  }

  .btn:focus {
    background-color: #b9380f;
    color: #fff;
  }

  .btn:hover {
    color: #fff;
  }

  .logo:hover .logo__name {
    color: #fd4e16;
  }

  .logo:hover .logo__name--first {
    color: #fff;
  }

  .logo:focus {
    outline: none;
  }

  .logo:focus .logo__name--second {
    border-bottom: 1px solid #fd4e16;
  }

  .slider-portfolio__arrow:focus {
    background-color: #fff;
  }

  .slider-portfolio__arrow:focus .slider-portfolio__icon {
    fill: #092930;
  }

  .slider-portfolio__arrow:hover {
    background-color: #fff;
  }

  .slider-portfolio__arrow:hover .slider-portfolio__icon {
    fill: #fd4e16;
  }

  .slider-portfolio__link:focus {
    background-color: rgba(9, 41, 48, 0.01);
  }

  .slider-portfolio__link:hover {
    border-color: #fd4e16;
    background-color: #092930;
  }

  .slider-portfolio__link:hover .slider-portfolio__img {
    -webkit-box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .form__input:focus {
    -webkit-box-shadow: 2px 2px 10px #fff;
            box-shadow: 2px 2px 10px #fff;
  }

  .form__input:focus::-webkit-input-placeholder {
    color: rgba(9, 41, 48, 0.4);
  }

  .form__input:focus::-moz-placeholder {
    color: rgba(9, 41, 48, 0.4);
  }

  .form__input:focus:-ms-input-placeholder {
    color: rgba(9, 41, 48, 0.4);
  }

  .form__input:focus::-ms-input-placeholder {
    color: rgba(9, 41, 48, 0.4);
  }

  .form__input:focus::placeholder {
    color: rgba(9, 41, 48, 0.4);
  }

  .form__input:hover::-webkit-input-placeholder {
    color: #092930;
  }

  .form__input:hover::-moz-placeholder {
    color: #092930;
  }

  .form__input:hover:-ms-input-placeholder {
    color: #092930;
  }

  .form__input:hover::-ms-input-placeholder {
    color: #092930;
  }

  .form__input:hover::placeholder {
    color: #092930;
  }

  .social-media__link:focus {
    border-bottom-color: #fd4e16;
  }

  .social-media__link:hover .social-media__icon {
    fill: #fd4e16;
  }
}

@media only screen and (max-width: 1199.98px) {
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%;
  }

  .hero__content {
    max-width: 80%;
  }

  .hero__person {
    margin: 20px 0 50px;
  }

  .slider-portfolio__arrow {
    top: 0;
    left: 30px;
  }

  .slider-portfolio__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-portfolio__description {
    max-width: 100%;
    margin: 0 150px 50px;
    border: 2px solid transparent;
  }
}

@media only screen and (max-width: 991.98px) {
  .burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  .burger span:first-child {
    top: 0px;
  }

  .burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .burger.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .header::before {
    z-index: 2;
  }

  .header__content {
    min-height: 60px;
  }

  .menu {
    margin: 0;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    background-color: #092930;
    padding: 150px 20px 130px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .menu__link,
  .menu__phone {
    font-size: 26px;
  }

  .menu__link,
  .menu__phone {
    font-weight: 500;
    font-size: 22px;
  }

  .hero {
    padding: 80px 0 40px;
  }

  .about__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .about__advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-about:not(:last-child) {
    margin-bottom: 40px;
  }

  .slider-portfolio__arrow {
    display: none;
  }

  .slider-portfolio__link {
    margin-left: 40px;
  }

  .slider-portfolio__description {
    margin: 0 100px 50px;
  }
}

@media only screen and (max-width: 767.98px) {
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    padding: 100px 20px;
  }

  .hero__content {
    margin-bottom: 50px;
  }

  .hero__content {
    margin: 0;
  }

  .hero__item--name,
  .hero__item--secondName {
    font-size: 38px;
  }

  .hero__item--subtitle {
    font-size: 18px;
  }

  .hero__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    width: 120px;
    height: 120px;
    font-size: 18px;
  }

  .about__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .slider-portfolio__slide {
    min-height: auto;
  }

  .slider-portfolio__link {
    max-width: 430px;
    margin-left: 11px;
    border-color: #fd4e16;
  }

  .slider-portfolio__img {
    min-height: 260px;
  }

  .slider-portfolio__description {
    margin: 0 auto 30px;
    padding: 10px;
  }

  .contacts__top {
    text-align: center;
  }

  .contacts__content {
    margin: 0 auto;
  }

  .contacts__message {
    text-align: center;
  }

  .form__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .footer__contacts {
    margin: 0 0 47px 0;
  }
}

@media only screen and (max-width: 479.98px) {
  .burger {
    top: -4px;
    right: 7px;
  }

  .header__logo {
    font-size: 20px;
  }

  .menu__phone {
    font-size: 14px;
  }

  .hero__item--name,
  .hero__item--secondName {
    font-size: 24px;
  }

  .hero__item--subtitle {
    font-size: 14px;
  }

  .about__description {
    text-align: center;
  }

  .item-about__description {
    text-align: center;
  }

  .portfolio {
    padding-bottom: 40px;
  }

  .slider-portfolio {
    padding: 0;
  }

  .slider-portfolio__wrapper {
    margin-bottom: 30px;
  }

  .slider-portfolio__link {
    max-width: 320px;
  }

  .slider-portfolio__img {
    -webkit-transform: translate(-15px, -15px);
        -ms-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
    min-height: 580px;
  }

  .form__button {
    max-width: 100%;
  }
}